modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "git push"
mode = "sequential"
author = 53911480

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git rebase --abort"

[[workflows.workflow]]
name = "npm i "
mode = "sequential"
author = 53750562

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i jspdf-autotable"

[[ports]]
localPort = 5000
externalPort = 80
